<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Egc27" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Egc27">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="row">
      <div class="small-12 columns">
        <% flash.each do |type, message| %>
          <div class="callout <%= type == :alert ? 'alert' : 'success' %>">
            <%= "#{type.to_s.humanize}: #{message}" %>
          </div>
        <% end %>

        <% if respond_to?(:devise_controller?) && !devise_controller? && defined?(current_user) %>
          <div class="row">
            <div class="small-12 columns">
              <% if current_user.present? %>
                <p>
                  Signed in as <strong><%= current_user.email %></strong> |
                  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button small alert" %>
                </p>
              <% else %>
                <p><%= link_to "Sign in", new_user_session_path, class: "button small primary" %></p>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
